:root {
    --rs-primary-50: #f2faff;
    --rs-primary-100: #dbdfe1;
    --rs-primary-200: #627f92;
    --rs-primary-300: #627f92;
    --rs-primary-400: #627f92;
    --rs-primary-500: #627f92;
    --rs-primary-600: #627f92;
    --rs-primary-700: #627f92;
    --rs-primary-800: #627f92;
    --rs-primary-900: #627f92;
    --rs-carousel-bg: #f8f9fa;
    --rs-carousel-indicator: rgb(from #3498ff r g b / 40%);
    --rs-carousel-indicator-active: #3498ff
}